@use "../var/global" as *;

.disSection {
    max-width: 1080px;
    margin: 5rem auto 7rem;
    padding: 0 10px;
    .picture {
        img {
            width: 100%;
        }
    }

    .textBox {
        text-align: center;
        .h2 {
            font-family: "Josefin Sans", sans-serif;
            text-transform: uppercase;
            max-width: 375px;
            line-height: 2.7rem;
            font-size: 2.6rem;
            font-weight: 300;
            margin: 3rem auto 1rem;
        }

        .discription {
            max-width: 320px;
            margin: auto;
            line-height: 29px;
            color: hsl(0, 0%, 55%);
        }
    }
}

@media (min-width: 918px) {
    .disSection {
        position: relative;

        .picture {
            max-width: 700px;
        }

        .textBox {
            text-align: left;
            padding: 5rem 0 0 5rem;
            position: absolute;
            background-color: white;
            top: 40%;
            left: 49%;

            .h2 {
                margin: 0 0 1rem 0;
            }

            .discription {
                margin: 0;
                max-width: 475px;
            }
        }
    }
}