@use "../var/global" as *;

.hero {
    background: url(../../images/mobile/image-hero.jpg) no-repeat center center/cover;
    min-height: 80vh;

    .container {
        padding: 0 10px;
    }

    .navLinks {
        display: none;
        list-style-type: none;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 375px;
        margin: auto;
        padding-top: 3rem;
    }

    .h1 {
        color: #fff;
        font-family: "Josefin Sans", sans-serif;
        text-transform: uppercase;
        outline: 3px solid #fff;
        max-width: 375px;
        padding: 1.5rem 2rem;
        line-height: 2.7rem;
        margin: auto;
        letter-spacing: 3px;
        font-size: 2.6rem;
        font-weight: 300;
        margin-top: 30vh;
    }
}

@media (max-width: 600px) {
    body.show {
        overflow: hidden;
    }
    
    @keyframes navShow {
        0% {
            left: 100%;
        }

        100% {
            left: 0;
        }
    }
    
    body.show .hero {
        .navLinks {
            display: block;
            background-color: #000;
            color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 4rem 2rem;
            animation-name: navShow;
            animation-duration: 1s;

            & li:first-child {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 8rem;
            }

            li + li {
                margin-top: 1.5rem;
                font-family: $font-thin;
                font-size: 1.2rem;
                text-transform: uppercase;
            }
        }
    }
}

@media (min-width: 600px) {
    .hero {
        background-image: url(../../images/desktop/image-hero.jpg);
    }
}

@media (min-width: 600px) {
    .hero {
        min-height: 40vh;
        padding-bottom: 5%;

        .h1 {
            margin: 10% 0;
            max-width: 440px;
        }

        .container {
            max-width: 1000px;
            margin: auto;
        }

        .nav {
            width: 100%;
            max-width: none;
            .hamburgerIcon {
                display: none;
            }

            @keyframes line {
                0% {
                    width: 0%;
                }

                50% {
                    width: 100%;
                }

                100% {
                    width: 60%;
                }
            }

            li + li {
                position: relative;
                cursor: pointer;
                &::after {
                    content: "";
                    background-color: #fff;
                    width: 60%;
                    height: 4px;
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: 5px;
                    display: none;
                    animation: line;
                    animation-duration: 500ms;
                };

                &:hover::after {
                    display: block;
                }
            }

            .navLinks {
                display: flex;
                align-items: center;
                color: #fff;
                gap: 1.5rem;

                .mobile {
                    display: none;
                }
            }
        }
    }
}
