*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alata", sans-serif;
}

.hero {
  background: url(../../images/mobile/image-hero.jpg) no-repeat center center/cover;
  min-height: 80vh;
}
.hero .container {
  padding: 0 10px;
}
.hero .navLinks {
  display: none;
  list-style-type: none;
}
.hero .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 375px;
  margin: auto;
  padding-top: 3rem;
}
.hero .h1 {
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  outline: 3px solid #fff;
  max-width: 375px;
  padding: 1.5rem 2rem;
  line-height: 2.7rem;
  margin: auto;
  letter-spacing: 3px;
  font-size: 2.6rem;
  font-weight: 300;
  margin-top: 30vh;
}

@media (max-width: 600px) {
  body.show {
    overflow: hidden;
  }

  @keyframes navShow {
    0% {
      left: 100%;
    }
    100% {
      left: 0;
    }
  }
  body.show .hero .navLinks {
    display: block;
    background-color: #000;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 4rem 2rem;
    animation-name: navShow;
    animation-duration: 1s;
  }
  body.show .hero .navLinks li:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8rem;
  }
  body.show .hero .navLinks li + li {
    margin-top: 1.5rem;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}
@media (min-width: 600px) {
  .hero {
    background-image: url(../../images/desktop/image-hero.jpg);
  }
}
@media (min-width: 600px) {
  .hero {
    min-height: 40vh;
    padding-bottom: 5%;
  }
  .hero .h1 {
    margin: 10% 0;
    max-width: 440px;
  }
  .hero .container {
    max-width: 1000px;
    margin: auto;
  }
  .hero .nav {
    width: 100%;
    max-width: none;
  }
  .hero .nav .hamburgerIcon {
    display: none;
  }
  @keyframes line {
    0% {
      width: 0%;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 60%;
    }
  }
  .hero .nav li + li {
    position: relative;
    cursor: pointer;
  }
  .hero .nav li + li::after {
    content: "";
    background-color: #fff;
    width: 60%;
    height: 4px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    display: none;
    animation: line;
    animation-duration: 500ms;
  }
  .hero .nav li + li:hover::after {
    display: block;
  }
  .hero .nav .navLinks {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 1.5rem;
  }
  .hero .nav .navLinks .mobile {
    display: none;
  }
}
.disSection {
  max-width: 1080px;
  margin: 5rem auto 7rem;
  padding: 0 10px;
}
.disSection .picture img {
  width: 100%;
}
.disSection .textBox {
  text-align: center;
}
.disSection .textBox .h2 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  max-width: 375px;
  line-height: 2.7rem;
  font-size: 2.6rem;
  font-weight: 300;
  margin: 3rem auto 1rem;
}
.disSection .textBox .discription {
  max-width: 320px;
  margin: auto;
  line-height: 29px;
  color: hsl(0deg, 0%, 55%);
}

@media (min-width: 918px) {
  .disSection {
    position: relative;
  }
  .disSection .picture {
    max-width: 700px;
  }
  .disSection .textBox {
    text-align: left;
    padding: 5rem 0 0 5rem;
    position: absolute;
    background-color: white;
    top: 40%;
    left: 49%;
  }
  .disSection .textBox .h2 {
    margin: 0 0 1rem 0;
  }
  .disSection .textBox .discription {
    margin: 0;
    max-width: 475px;
  }
}
.ourCreation {
  text-align: center;
  max-width: 1080px;
  margin: auto;
  padding: 0 10px;
}
.ourCreation .header {
  margin: 5rem auto 2rem;
}
.ourCreation .header .h2 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  max-width: 375px;
  line-height: 2.7rem;
  margin: auto;
  font-size: 2.6rem;
  font-weight: 300;
  text-align: center;
}
.ourCreation .header .topBtn {
  display: none;
}
.ourCreation .grid {
  display: grid;
  gap: 2rem;
}
.ourCreation .grid .colImg {
  position: relative;
  width: 90%;
  margin: auto;
}
.ourCreation .grid .colImg img {
  width: 100%;
  margin: auto;
}
.ourCreation .grid .colImg p {
  position: absolute;
  left: 1.5rem;
  bottom: 2rem;
  z-index: 3;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #fff;
}
.ourCreation .grid .colImg::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 3px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.334);
  transition: 500ms ease;
}
.ourCreation .grid .colImg:hover::after {
  background-color: rgba(255, 255, 255, 0.774);
  cursor: pointer;
}
.ourCreation .grid .colImg:hover p {
  color: #000;
}
.ourCreation .seeAll {
  background-color: transparent;
  color: black;
  padding: 0.5rem 3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 3px solid rgb(110, 110, 110);
  margin: auto;
  font-family: inherit;
  transition: 500ms ease;
}
.ourCreation .seeAll:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border-color: black;
}
.ourCreation .bottomBtn {
  margin-top: 2rem;
}

@media (min-width: 775px) {
  .ourCreation .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .ourCreation .header .h2 {
    margin: 0;
  }
  .ourCreation .header .topBtn {
    display: block;
    margin: 0;
  }
  .ourCreation .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
  .ourCreation .grid .colImg {
    width: 100%;
  }
  .ourCreation .grid .colImg p {
    text-align: left;
  }
  .ourCreation .bottomBtn {
    display: none;
  }
}
.footer {
  margin-top: 6rem;
  padding: 3rem 1rem;
  background-color: black;
}
.footer .container {
  max-width: 1000px;
  margin: auto;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footer .container .nav .logo {
  margin-bottom: 1.5rem;
}
.footer .container .nav .links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer .container .socialIconsAndCopyRight .socialLinks {
  margin-bottom: 1.5rem;
}
.footer .container .socialIconsAndCopyRight .socialLinks img + img {
  margin-left: 0.5rem;
}
.footer .container .socialIconsAndCopyRight .copyRight {
  opacity: 0.4;
}

@media (min-width: 775px) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .container .nav {
    text-align: left;
  }
  .footer .container .nav .links {
    flex-direction: row;
    gap: 2rem;
  }
  @keyframes line {
    0% {
      width: 0%;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 60%;
    }
  }
  .footer .container .nav .links li {
    position: relative;
    cursor: pointer;
  }
  .footer .container .nav .links li::after {
    content: "";
    background-color: #fff;
    width: 60%;
    height: 4px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    display: none;
    animation: line;
    animation-duration: 500ms;
  }
  .footer .container .nav .links li:hover::after {
    display: block;
  }
  .footer .container .socialIconsAndCopyRight {
    text-align: right;
  }
  .footer .container .socialIconsAndCopyRight .socialLinks img {
    position: relative;
    cursor: pointer;
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
    transition: 500ms ease;
  }
  .footer .container .socialIconsAndCopyRight .socialLinks img:hover {
    border-color: #fff;
  }
  .footer .container .socialIconsAndCopyRight .copyRight {
    padding-bottom: 3px;
  }
}

/*# sourceMappingURL=style.css.map */
